# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Add to the selected template:
*.jou
*.log
*.str
*.rpt
*.html
*.lck
*.wdb
*.bin
*.bit
*.dcp
*.xpr
*.sysdef
*.xml

*.Xil
*.cache
*.hw
*.ip_user_files
#.sim
#.runs
#.srcs

